body {
    color: #333;
    font-family: sans-serif;
}

.CustomTokenButton {
    border: 0;
    font-family: sans-serif;
    background-color: rgba(28, 15, 54, 1);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 24px;
    transition: background-color 350ms;
}

.CustomTokenButton:hover {
    background-color: #605772;
}

.CustomTokenButton:active {
    opacity: 0.8;
}

.buttonTypeSelector {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonTypeSelector label {
    cursor: pointer;
    margin-left: 10px;
}

.buttonTypeSelector small {
    color: gray;
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

.transferTypeSelector {
    display: block;
    margin-bottom: 20px;
}

.transferTypeSelector label {
    cursor: pointer;
    margin-left: 10px;
}
